.lat12 {
    color: white;
    font-size: 50px;
    margin-left: 150px;
    margin-top: -26%;
}

.cardlar2 {
    margin-top: 60px;
}

.card12 {
    width: 350px;
    height: 350px;
    border: 2px solid red;
    margin-left: 8%;
}

.card22 {
    width: 350px;
    height: 350px;
    border: 2px solid red;
    margin-left: 38%;
    margin-top: -26%;
}

.card33 {
    width: 350px;
    height: 350px;
    border: 2px solid red;
    margin-left: 68%;
    margin-top: -26%;
}

.hamag1 {
    color: white;
    margin-top: 35%;
    margin-left: 15%;
    font-family: sans-serif;
    font-weight: 500;
}

.line1 {
    width: 60%;
    height: 2px;
    background-color: #353643;
    margin-left: 20%;
    margin-top: 3%;
}

.viev {
    font-family: sans-serif;
    color: white;
    margin-left: 82%;
    font-size: 15px;
    margin-top: -10px;
    width: 150px;
}

.viev:hover {
    cursor: pointer;
    border-bottom: 2px solid white;
}

.card1,
.card2,
.card3 :hover {
    cursor: pointer;
}